.map-container {
    overflow: hidden;
    position: relative;
    width: 80vw;
    height: 80vh;
    border: 1px solid #ccc;
    margin: 0 auto;
}
.map {
    position: absolute;
    width: 100%;
}
#mapImage {
    width: 80vw;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 0 0; /* Set transform origin to top-left */
}